@media screen and (min-width: 650px) {
  html {
    font-size: 28px !important;
  }
}

body {
  font-family: ColfaxAI,helvetica,sans-serif;
  font-family: var(--sans-serif);
  /* 这里修改背景图 */
  
  background-color: #fff;
  color: #10a37f;
  display: flex;
  justify-content: center;
  align-items: center;

}

body::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
}



.content {
  padding-top: 1rem;
  min-width: 20rem;
  max-width: 20rem;
  margin: auto auto 5rem auto;
  text-align: center;
}

.content .back {
  display: flex;
  align-items: center;
  margin: auto auto 5rem auto;
}

.content .back svg:not(:root) {
  fill: #424343;
  overflow: hidden;
  width: 1rem;
  height: auto;
}

.content .back span {
  flex: 1;
  font-size: 1rem;
  color: #424343;
  margin: auto 16rem auto 0.5rem;
}

.content .box img {
  margin-top: 6rem;
  margin-bottom: auto;
  border: 1px solid #10a37f;
  border-radius: 5%;
  width: 6rem;
  height: 6rem;
  -webkit-transition: transform 0.8s;
  transition: transform 0.8s;
}

.content .box img:hover {
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

.content .box h2 {
  color: #424343;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
  font-size: 1.8rem;
  letter-spacing: 0.4rem;
}
.content .box h3 {
  margin-bottom: 0.1rem;
  margin-top: 0.2rem;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
}


.content .box .site {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.content .box .site li {
  display: inline-block;
  margin: 0.5rem auto;
}

.content .box .site li a {
  position: relative;
  display: inline-block;
  background-color: #10a37f;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  
  border: 1px solid #fff;
  font-size: 1.2rem;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}


.content .box .site li a:hover {
  background-color: #09644c;
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 2rem !important;
  }

  .site {
    flex-direction: row !important;
    flex-wrap: wrap;
  }
}
.content .as {
  padding-top: 0.2rem;
  width: auto;
  height: 8rem;
  margin: 0.5rem auto 25rem auto;
}
.content .as img {
  
  
  border: 1px solid #10a37f;
  border-radius: 5%;
  width: 6rem;
  height: 6rem;
  -webkit-transition: transform 0.8s;
  transition: transform 0.8s;
}
.content .as p {
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 1.7rem;
  color: #424343;
}

footer {
	text-align: center;

	bottom: 0;
	left: 0;
	right: 0;
	padding: 2vw;
	
	color: #10a37f; 
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}